.flaskenv
.env
.herokuenv
logs/
.DS_Store
venv/
instance/files/*/
.vscode/tags

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*/__pycache__/

# Flask stuff:
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

*.log
.vagrant/
app.db
dump.rdb
*-checkpoint.ipynb

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Temporary Excel Files
~$*.xlsx
~$*.csv
~$*.xls
