{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block styles %}
{{super()}}
<link rel='stylesheet' href="{{ url_for('static', filename='jexcel.css')|autoversion }}">
<link rel='stylesheet' href="{{ url_for('static', filename='jsuites.css')|autoversion }}">
<link rel='stylesheet' href="{{ url_for('static', filename='base.css')|autoversion }}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/jexcel.js')|autoversion }}"></script>
<script src="{{ url_for('static', filename='js/jsuites.js')|autoversion }}"></script>
<script src="{{ url_for('static', filename='js/index.js')|autoversion }}"></script>
{% endblock %}

{% block app_content %}
<h1 class="mt-5"> Impute <span class="text-muted">Random Forest</span></h1>
<div class="row m-3" id="spreadsheet">
</div>

<div id="imputeButton" class="fab btn btn-primary btn-lg shadow-lg">
    Impute
</div>
{% endblock %}