{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block styles %}
{{super()}}
<link rel='stylesheet' href="{{ url_for('static', filename='jexcel.css')|autoversion }}">
<link rel='stylesheet' href="{{ url_for('static', filename='jsuites.css')|autoversion }}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/jexcel.js')|autoversion }}"></script>
<script src="{{ url_for('static', filename='js/jsuites.js')|autoversion }}"></script>
<script src="{{ url_for('static', filename='js/index.js')|autoversion }}"></script>
{% endblock %}

{% block app_content %}
<h1 class="mt-5"> Hello World!</h1>
<p>
<div id='spreadsheet'>
</div>
</p>
{% endblock %}